name: Rust

on:
  push:
    branches: [ "dev", "main" ]
    paths-ignore: 
      - 'README.md'
      - 'LICENSE'
      - '.github/**'
      - '!.github/workflows/mac-cross.yml'
  pull_request:
    branches: [ "dev", "main" ]
    paths-ignore: 
      - 'README.md'
      - 'LICENSE'
      - '.github/**'
      - '!.github/workflows/mac-cross.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/dev' }}

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    timeout-minutes: 30

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - name: Install Rust toolchain
        run: |
          rustup default stable
          rustup toolchain install stable
          rustup target add aarch64-apple-darwin
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) \
          MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx --show-sdk-platform-version) \
          cargo build --release --target=aarch64-apple-darwin
      - name: Run tests
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) \
          MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx --show-sdk-platform-version) \
          cargo test --release --target=aarch64-apple-darwin
